[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.1.2"
flask-restx = "0.5.1"
python-dotenv = "0.20.0"
sqlalchemy = "1.4.36"
psycopg2-binary = "2.9.3"
geoalchemy2 = "0.10.2"
geopandas = "0.10.2"

[dev-packages]
flake8 = "*"
pytest = "7.1.2"
pytest-cov = "*"
pytest-mock = "*"
